:root {
    --gray: rgb(247, 249, 249);
    --shadow: 2px 2px 20px 1px rgb(22, 22, 22);
    --blue: #0ea5e9;
}

body {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: grid;
    justify-items: center;
    align-content: center;
    
}

.content {
   width: 80vw;
   display: grid;
   grid-template-rows: 100vh;
   grid-template-columns: minmax(240px, 20vh) 60vw;

}

.rightContentContainer{
    display: grid;
    justify-items: stretch;
    align-content: stretch;
    grid-template-rows: 20vh 80vh;
    background-color: rgb(210, 205, 205);
}

    .rightHeader{
        background-color:var(--gray);
        box-shadow: 0 4px 2px -2px gray;
        padding: 0 1rem;
    
    }

        .headingTopContainer {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: column;
            justify-content: space-between;
            height: 8vh;
        }
            .searchBar {
                display: flex;
                align-items: center;
                width: 100%;
                
            }

            .userInfo {
                display: flex;
                align-items: center;
                font-weight: 700;
            }

                .userInfo button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                img {
                    border-radius: 50%;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    height: 30px;
                    width: 30px;
                }

            .searchBar > #search {
                border: 0;
                background-color: rgb(210, 205, 205);
                margin-left: 1rem;
                border-radius: 10px;
                width: 70%;
            }

        .headingBottomContainer {
            height: 12vh;
            display: grid;
            justify-items: space-between;
            grid-template-columns: 1fr;
            grid-auto-flow: column;
        }

        .profile {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: column;
            height: 12vh;
            justify-self: left;
            overflow: auto;
        }

                .userProfile {
                    height: 12vh;
                }

                    .greeting {
                        font-size: 0.75rem;
                    }

                    .name {
                        font-weight: 600;
                    }

                .profile img {
                    border-radius: 50%;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    margin-top: 1rem;
                    height: 45px;
                    width: 45px;
                }

            .buttons {
                display: flex;
                height: 12vh;
                gap: 1em;
                margin-top: 1rem;
            }

            .btn {
                background-color: #0ea5e9;
                border-radius: 10px;
                color: white;
                width: 75px;
                height: 30px;
                border: none;
                font-size: xx-small;
                font-weight: 600;
            }

    .rightSubContainer{
        display: grid;
        justify-items: stretch;
        align-content: stretch;
        grid-template-columns: 40vw 20vw;
        overflow: auto;
        padding: 0px 20px 60px 20px;
        
    }

        .itemGrid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-auto-rows: 160px;
            grid-gap: 20px;
        }

            .item{
                background-color:var(--gray);
                border-radius: 10px;
                box-shadow: var(--shadow);
                border-left: 6px solid rgb(224, 172, 42);
                overflow: auto;
                padding-left: .5rem;
            }

            .itemTitle {
                font-size: medium;
                font-weight: 600;
                padding-bottom: 0.5rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            .rightGridContainer {
                padding: 0px 20px 60px 20px;
            }

            .announcementsContainer,.trendingContainer {
                display: grid;
                grid-template-columns: 15vw;
                grid-auto-rows: 200px;     
            }

                .announcementsContent,.trendingContent {
                    background-color:var(--gray);
                    box-shadow: var(--shadow);
                    border-radius: 10px;
                    overflow: auto; 
                    padding: 0 1rem 1rem 1rem;  
                }

                .annItemTitle {
                    font-weight: 600;
                    font-size: x-small;
                }

                .annItem {
                    border-bottom: grey;
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    font-size: xx-small;
                    border-bottom: 2px solid grey
                }

                .trendingContent { 

                  
                }
                .trendProfile{
                    
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-auto-flow: column;
                    justify-self: left;
                    overflow: auto;
                }

                .userTrend{
                    font-size: xx-small;
                    padding: -1rem;
                }
                .trendProfile .img {
                    padding-top: 1rem;
                }

            
            
.leftSidebarContainer{
    background-color: var(--blue);
    color: white;   
}                    

    .links {
        display: grid;
        gap: 1em;
    }

        .sidebarLink {
            display: flex;
            gap: 1em;
        }
        .sidebarLink > [class^='material-icons'] {
            font-size: 1.5em;
        }

ul {
    list-style: none;
}

a {
   text-decoration: none;
   color: inherit;  
}

h2 {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
  }
h2 > [class^='material-icons'] {
    font-size: 1.4em;
    margin-right: 0.25em;
  }